src/main/resources/xml/templates/Standard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="page" type="pageType"/>
  <xs:complexType name="styleType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="source"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="pageType">
    <xs:sequence>
      <xs:element type="styleType" name="style"/>
      <xs:element type="bannerType" name="banner"/>
      <xs:element type="xs:string" name="billboard"/>
      <xs:element type="xs:string" name="menu"/>
      <xs:element type="xs:string" name="mini-banner"/>
      <xs:element type="xs:string" name="pager"/>
      <xs:element type="xs:string" name="key-handler"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name"/>
  </xs:complexType>
  <xs:complexType name="bannerType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="source"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>