src/main/resources/xml/tree/tree.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ddm-tree" type="ddm-treeType">
    <xs:annotation>
      <xs:documentation>Created by mpamer.me.uk on 9 May 2003</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ddm-nodeType" mixed="true">
    <xs:sequence>
      <xs:element type="ddm-nodeType" name="ddm-node" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="type" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="status" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ddm-treeType">
    <xs:sequence>
      <xs:element type="ddm-nodeType" name="ddm-node"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>