src/main/resources/ApplicationXml/Application.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xml.wicast.net/xml" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Application" type="ns:ApplicationType" xmlns:ns="http://xml.wicast.net/xml"/>
  <xs:complexType name="LicensesType">
    <xs:sequence>
      <xs:element type="ns:LicenceType" name="Licence" xmlns:ns="http://xml.wicast.net/xml"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChannelType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="Address"/>
      <xs:element type="xs:string" name="Port"/>
      <xs:element name="Message" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element type="xs:string" name="Uri" minOccurs="0"/>
            <xs:element type="xs:string" name="File" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessageType">
    <xs:sequence>
      <xs:element type="xs:string" name="Uri" minOccurs="0"/>
      <xs:element type="xs:string" name="File" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriptionType">
    <xs:sequence>
      <xs:element type="xs:string" name="Label"/>
      <xs:element type="xs:string" name="Address"/>
      <xs:element type="xs:string" name="Port"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="Version"/>
      <xs:element type="xs:string" name="Description"/>
      <xs:element type="xs:string" name="Url"/>
      <xs:element type="xs:string" name="Organization"/>
      <xs:element type="ns:LicensesType" name="Licenses" xmlns:ns="http://xml.wicast.net/xml"/>
      <xs:element type="ns:ConfigurationType" name="Configuration" xmlns:ns="http://xml.wicast.net/xml"/>
      <xs:element type="ns:ToolsType" name="Tools" xmlns:ns="http://xml.wicast.net/xml"/>
      <xs:element type="ns:ServerType" name="Server" xmlns:ns="http://xml.wicast.net/xml"/>
      <xs:element type="ns:ClientType" name="Client" xmlns:ns="http://xml.wicast.net/xml"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceType">
    <xs:sequence>
      <xs:element name="Name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="wicast-net-relay"/>
            <xs:enumeration value="wicast-net-server"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Class">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="net.wicast.relay"/>
            <xs:enumeration value="net.wicast.sender"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="ns:ChannelType" name="Channel" minOccurs="0" xmlns:ns="http://xml.wicast.net/xml"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaskType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="Class"/>
      <xs:element type="ns:SubscriptionsType" name="Subscriptions" xmlns:ns="http://xml.wicast.net/xml"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ToolType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="Class"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PropertyType">
    <xs:sequence>
      <xs:element type="xs:string" name="Encoding"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LicenceType">
    <xs:sequence>
      <xs:element type="xs:string" name="Id"/>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="Title"/>
      <xs:element type="xs:string" name="Url"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfigurationType">
    <xs:sequence>
      <xs:element type="ns:PropertyType" name="Property" xmlns:ns="http://xml.wicast.net/xml"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ScheduleType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="Class"/>
      <xs:element type="ns:ServiceType" name="Service" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://xml.wicast.net/xml"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServerType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="Class"/>
      <xs:element type="ns:ScheduleType" name="Schedule" xmlns:ns="http://xml.wicast.net/xml"/>
      <xs:element type="ns:WebAdminType" name="WebAdmin" xmlns:ns="http://xml.wicast.net/xml"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClientType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="Class"/>
      <xs:element type="ns:TunerType" name="Tuner" xmlns:ns="http://xml.wicast.net/xml"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WebAdminType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="Class"/>
      <xs:element type="xs:string" name="Url"/>
      <xs:element type="xs:string" name="Port"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubscriptionsType">
    <xs:sequence>
      <xs:element type="ns:SubscriptionType" name="Subscription" xmlns:ns="http://xml.wicast.net/xml"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ToolsType">
    <xs:sequence>
      <xs:element type="ns:ToolType" name="Tool" xmlns:ns="http://xml.wicast.net/xml"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TunerType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name"/>
      <xs:element type="xs:string" name="Class"/>
      <xs:element type="ns:TaskType" name="Task" xmlns:ns="http://xml.wicast.net/xml"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>