src/test/resources/database.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT database (table)*>

<!ELEMENT table (record)*>
<!ATTLIST table name CDATA #IMPLIED >

<!ELEMENT record (field)*>
<!ATTLIST record id CDATA #IMPLIED >

<!ELEMENT field value>
<!ATTLIST table name CDATA #IMPLIED >

<!ELEMENT value (#PCDATA)>
