src/main/resources/xml/Batch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="batch" type="batchType"/>
  <xs:complexType name="batchType">
    <xs:sequence>
      <xs:element type="xs:string" name="transaction"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>