src/main/resources/xml/rules.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!--
    An example how to use this DTD from your XML document:

    <!DOCTYPE rules SYSTEM "rules.dtd">
    <rules>
    ...
    </rules>
-->

<!ELEMENT iteration (iteration|selection|sequence)*>

<!ELEMENT selection EMPTY>

<!ELEMENT sequence (iteration|selection|sequence)*>

<!ELEMENT rule (iteration|selection|sequence)*>
<!ATTLIST rule id CDATA #IMPLIED>
<!ATTLIST rule name CDATA #IMPLIED>

<!ELEMENT rules (rule)*>

