src/main/resources/xml/rules.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rules" type="rulesType"/>
  <xs:complexType name="ruleType" mixed="true">
    <xs:sequence>
      <xs:element type="xs:string" name="sequence" minOccurs="0"/>
      <xs:element type="xs:string" name="selection" minOccurs="0"/>
      <xs:element type="xs:string" name="iteration" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="rulesType">
    <xs:sequence>
      <xs:element type="ruleType" name="rule" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>